
body {
    font-family: sans-serif;
    background-color: lightgray;
}
.link-header {
    text-decoration: none;
    border: 3px solid gray;
    color: gray;
    font-size: 25px;
    padding: 5px;
}
header {
    background-color: black;
    padding: 20px;
    padding-left: 280px;
}
.link-header:hover {
    font-size: 27px;
    color: white;
    border: 3px solid white;
}
p {
    font-size: 24px;
}
h1 {
    font-size: 96px;
    te
}
p:hover {
    font-size: 26px;
    color: white;
}
li {
    font-size: 24px;
    margin-bottom: 20px;
}
li:hover {
    font-size: 26px;
    color: white;
}
ol {
    margin-left: 40px;
}
p {
    margin-left: 40px;
}
.social {
    margin-left: 50px;
}
